include ./../base/data

include ./../mixin/mixin

include ./../partials/header
include ./../partials/navbar
include ./../partials/footer

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- BLOCK META TAG
    block meta

    //- Google Font 
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
    //- Style CSS 
    link(rel="stylesheet", href="/css/style.css")
    //- BLOCK LINK TAG
    block link

    //- BLOCK TITLE TAG
    block title
      title Wine House

  body
    //- BLOCK HEADER SITE
    header
      block header
        +headerSite('signIn')

    //- BLOCK BANNER 
    block banner
      
    //- BLOCK NAVBAR SITE 
    block navigation
      +navbarSite('home')

    //- SEARCH BOX
    block searchBox
      .search-box
        .container
          .d-lg-none.rounded-pill.border.border.overflow-hidden
            +searchBox('', 'Tìm kiếm ở đây ...')

    //- BLOCK CONTENT SITE 
    main
      block main
        

    //- BLOCK FOOTER SITE
    footer
      block footer
        +footerSite

    //- BLOCK SCRIPT
    block script
    
    //SCRIPT BOOTSTRAP
    script(src="js/all.js")