footer.footer
    .container
        .row.justify-content-center
            .col-4.col-md-3.border-bottom
                .footer__logo-box.text-center.py-4
                    img(src="./assets/image/campanies/slide_03.png", alt="Authentic logo" class="img-fluid")
            .col-4.col-md-3.border-bottom
                .footer__logo-box.text-center.py-4
                    img(src="./assets/image/campanies/slide_05.png", alt="Retrobrand logo" class="img-fluid")
            .col-4.col-md-3.border-bottom
                .footer__logo-box.text-center.py-4
                    img(src="./assets/image/campanies/slide_07.png", alt="Bearbrand logo" class="img-fluid")
    .container.pt-5.pb-4
        .row.justify-content-between
            .col-md-2
                .footer__inf-box
                    h5.footer__inf-heading Thông tin
                    p
                        a(href="#" class="footer__link") Về chúng tôi
                    p
                        a(href="#" class="footer__link") Giao hàng
                    p
                        a(href="#" class="footer__link") Cảm nghĩ
                    p
                        a(href="#" class="footer__link") Lưu trữ
                    p
                        a(href="#" class="footer__link") Chính sách riêng tư
            .col-md-2
                .footer__inf-box
                    h5.footer__inf-heading Mua hàng
                    p
                        a(href="#" class="footer__link") Vận chuyển trả hàng
                    p
                        a(href="#" class="footer__link") Mua hàng an toàn
                    p
                        a(href="#" class="footer__link") Vận chuyển quốc tế
                    p
                        a(href="#" class="footer__link") Liên kết
                    p
                        a(href="#" class="footer__link") Dịch vụ giảm giá
            .col-md-3
                .footer__inf-box
                    h5.footer__inf-heading Gửi emai
                    p.footer__desc.text-muted Gửi email cho chúng tôi để được hỗ trợ
                    form(action="#" class="footer__email d-flex")
                        input(type="email", name="fiemail" placeholder="Enter your email" class="form-control rounded-0")
                        button(type="button" class="btn btn-primary rounded-0") GỬI
                    div.footer__social
                        a(href="#") 
                            i(class="fab fa-instagram footer__social-item")
                        a(href="#") 
                            i(class="fab fa-google-plus-g footer__social-item")
                        a(href="#") 
                            i(class="fab fa-linkedin-in footer__social-item")
                        a(href="#") 
                            i(class="fab fa-pinterest-p footer__social-item")
                        a(href="#") 
                            i(class="fas fa-globe footer__social-item")
            .col-md-4
                address.footer__inf-box
                    h5.footer__inf-heading Liên hệ
                    p.footer__desc
                        i(class="me-2 fas fa-map-marker-alt")
                        | Tầng 4, Tòa nhà Hanoi Group  Số 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội
                    p.footer__desc
                        span
                            i(class="me-2 fas fa-phone-alt")
                            a(href="tel:(04) 6674 2332") (04) 6674 2332
                        span.px-1 -
                        span
                            i(class="me-2 fas fa-phone-alt")
                            a(href="tel:(04) 3786 8904") (04) 3786 8904
                    p.footer__desc
                        span
                            i(class="me-2 fas fa-phone-alt") 
                            a(href="tel:(08) 6680 9686") (08) 6680 9686
                        span.px-1 -
                        span
                            i(class="me-2 fas fa-envelope")
                            a(href="mailto: Support@bizweb.vn") Support@bizweb.vn
    .footer__copy-right
        .container
            .row.justify-content-between.align-items-center
                .col-md
                    p © Copyright 2008-2014 DKT Technology JSC
                .col-md-5
                    .footer__payment
                        .footer__payment-image
                            img(src="./assets/image/card/logo-mastercard-mobile.svg", alt="mastercard" class="img-fluid")
                        .footer__payment-image
                            img(src="./assets/image/card/visa.png", alt="Visa_Inc" class="img-fluid")
                        .footer__payment-image
                            img(src="./assets/image/card/paypal-logo-duyalex.png", alt="paypal" class="img-fluid")
                        .footer__payment-image
                            img(src="./assets/image/card/maestro-logo.png", alt="maestro" class="img-fluid")