header
    nav(class="header-nav navbar navbar-expand-lg navbar-light bg-light fixed-top")
        div.container-lg.px-0
            button(type="button" class="navbar-toggler ms-auto me-3" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse justify-content-between start-0" id="navbarHeader")
                ul(class="header-nav__list navbar-nav align-items-center")
                    li(class="nav-item")
                        a(href="#" class="nav-link active" aria-current="page") 
                            span Tài khoản của tôi
                    span.seperate -
                    li(class="nav-item")
                        a(href="#" class="nav-link") 
                            span Trạng thái đơn hàng
                    span.seperate -
                    li(class="nav-item")
                        a(href="#" class="nav-link") 
                            span Danh sách ưa thích
                    span.seperate -
                    li(class="nav-item")
                        a(href="#" class="nav-link") 
                            span Giỏ hàng
                    span.seperate -
                    li(class="nav-item")
                        a(href="#" class="nav-link") 
                            span Đăng nhập
                    span.seperate -
                    li(class="nav-item")
                        a(href="#" class="nav-link") 
                            span Đăng ký
                form(action="#" class="d-flex" class="header-nav__form")
                    input#header-search(type="search" name="hsearch" class="form-control" placeholder="Tìm kiếm ở đây ..." aria-label="Search")
                    button(type="submit" class="btn")
                        svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16")
                            path(d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z")