nav(class="main-nav navbar navbar-expand navbar-dark bg-dark")
    div.container.flex-wrap.align-items-stretch
        a(class="main-nav__logo navbar-brand mx-auto col-12" href="#")
            img(src="../../../dist/assets/image/logo.png", alt="logo" class="img-fluid")
        button(type="button" class="navbar-toggler d-none" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse align-items-stretch" id="navbarMain")
            ul(class="main-nav__list navbar-nav row-cols-2 row-cols-md-auto")
                li(class="nav-item")
                    a(href="#" class="nav-link active" aria-current="page") 
                        span Trang chủ
                li(class="nav-item")
                    a(href="#" class="nav-link  my-dropdown" role="button" aria-expanded="false") 
                        span Rượu vang đỏ
                    ul(class="sub-menu")
                        .row.justify-content-evenly
                            .col-3
                                li
                                    h4.sub-menu__heading Rượu ngoại
                                    a(href="#") Rượu Chivas
                                    a(href="#") Hàng độc - Rượu độc đáo
                                    a(href="#") Johnme Walker
                                    a(href="#") Rượu Whisky
                                    a(href="#") Rượu Remy Martin
                                    a(href="#") Rượu Glenmorangie
                                    a(href="#") Rượu Chivas
                            .col-3
                                li
                                    h4.sub-menu__heading Rượu ngoại
                                    a(href="#") Rượu Chivas
                                    a(href="#") Hàng độc - Rượu độc đáo
                                    a(href="#") Johnme Walker
                                    a(href="#") Rượu Whisky
                                    a(href="#") Rượu Remy Martin
                                    a(href="#") Rượu Glenmorangie
                                    a(href="#") Rượu Chivas
                            .col-3
                                li
                                    h4.sub-menu__heading Rượu ngoại
                                    a(href="#") Rượu Chivas
                                    a(href="#") Hàng độc - Rượu độc đáo
                                    a(href="#") Johnme Walker
                                    a(href="#") Rượu Whisky
                                    a(href="#") Rượu Remy Martin
                                    a(href="#") Rượu Glenmorangie
                                    a(href="#") Rượu Chivas
                            .col-3
                                img(src="assets/image/Image Rudu/Depositphotos_3010981_original1.jpg", alt="intro image" class="img-fluid")
                li(class="nav-item")
                    a(href="#" class="nav-link") 
                        span Rượu trắng
                li(class="nav-item")
                    a(href="#" class="nav-link") 
                        span Champagne
                li(class="nav-item")
                    a(href="#" class="nav-link") 
                        span Thông tin
                li(class="nav-item")
                    a(href="#" class="nav-link") 
                        span Blog
                li(class="nav-item")
                    a(href="#" class="nav-link") 
                        span Liên hệ
            