//- include ../mixin/mixin

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./assets/css/pages/home.css")
        link(rel="stylesheet" href="./assets/css/vendors/font-awesome.css")
        link(rel="shortcut icon", href="assets/image/Image Rudu/logo2.png", type="image/x-icon")
        
        block title
            title Wine House
    body
        block header
            include ./../partials/header

        block slide
            div(style="padding: 40px;")

        block navigation
            include ./../partials/navigation

        block main
            img(src="./assets/image/Image Rudu/16_page 404.jpg", alt="404 error" class="img-fluid")

        block footer
            include ./../partials/footer
        script(src="./../node_modules/bootstrap/dist/js/bootstrap.bundle.js")