@font-face {
    font-family: "UTM Aquarelle";
    src: url('../../font/utm_aquarelle-webfont.eot');
    src: local('UTM Aquarelle 😀'),
        url('../../font/utm_aquarelle-webfont.woff') format('woff'),
        url('../../font/utm_aquarelle-webfont.ttf') format('truetype'),
        url('../../font/utm_aquarelle-webfont.svg') format('svg');
}

@font-face {
    font-family: "UTM Caviar";
    src: url('../../font/utm_caviar-webfont.eot');
    src: local('UTM Aquarelle 😀'),
        url('../../font/utm_caviar-webfont.woff') format('woff'),
        url('../../font/utm_caviar-webfont.ttf') format('truetype'),
        url('../../font/utm_caviar-webfont.svg') format('svg');
}

@font-face {
    font-family: "UTM Didot";
    src: url('../../font/UVF\ Didot.ttf');
}