-
  const dtBlogCard = [
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu vang Thăng Long Classic',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/01_Home.jpg',
      linkPost: '#',
    },
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu Vang Đỏ',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/08_Blog.jpg',
      linkPost: '#',
    }
  ]

-
  const dtBlogList = [
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu vang Thăng Long Classic',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/01_Home.jpg',
      linkPost: '/blog.html',
    },
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu Vang Đỏ',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/08_Blog.jpg',
      linkPost: '#',
    },
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu vang Thăng Long Classic',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/01_Home.jpg',
      linkPost: '#',
    },
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu Vang Đỏ',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/08_Blog.jpg',
      linkPost: '#',
    },
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu vang Thăng Long Classic',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/01_Home.jpg',
      linkPost: '#',
    },
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu Vang Đỏ',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/08_Blog.jpg',
      linkPost: '#',
    },
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu vang Thăng Long Classic',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/01_Home.jpg',
      linkPost: '#',
    },
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu Vang Đỏ',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/08_Blog.jpg',
      linkPost: '#',
    },
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu vang Thăng Long Classic',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/01_Home.jpg',
      linkPost: '#',
    },
  ]