-
  const dtBlogCard = [
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu vang Thăng Long Classic',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/01_Home.jpg',
      linkPost: '#',
    },
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu Vang Đỏ',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/08_Blog.jpg',
      linkPost: '#',
    }
  ]

-
  const dtBlogList = [
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu vang Thăng Long Classic',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/01_Home.jpg',
      linkPost: '/blog.html',
    },
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu Vang Đỏ',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/08_Blog.jpg',
      linkPost: '#',
    },
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu vang Thăng Long Classic',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/01_Home.jpg',
      linkPost: '#',
    },
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu Vang Đỏ',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/08_Blog.jpg',
      linkPost: '#',
    },
  ]

  const dtBlogTagLIst = [
    {
      title: 'Đồng hồ',
      urlTag: '#',
      active: 'dongho',
    },
    {
      title: 'Túi',
      urlTag: '#',
      active: '',
    },
    {
      title: 'Phụ kiện',
      urlTag: '#',
      active: '',
    },
    {
      title: 'Giày',
      urlTag: '#',
      active: '',
    },
    {
      title: 'Sandal',
      urlTag: '#',
      active: '',
    },
    {
      title: 'Áo sơ mi',
      urlTag: '#',
      active: '',
    },
    {
      title: 'Nước hoa',
      urlTag: '#',
      active: '',
    },
    {
      title: 'Trẻ em',
      urlTag: '#',
      active: '',
    },
    {
      title: 'Thời trang nữ',
      urlTag: '#',
      active: '',
    },
  ]

-
  const dtBlogNew = [
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu vang Thăng Long Classic',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/01_Home.jpg',
      linkPost: '#',
    },
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu Vang Đỏ',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: 'assets/image/Image Rudu/08_Blog.jpg',
      linkPost: '#',
    },
    {
      author: 'Giangle',
      time: '30/06/2015',
      numberOfComment: '60',
      title: 'Rượu Vang Đỏ',
      text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.  Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,  sản phẩm được đóng chai dung tích 750ml...',
      imageCard: '/assets/image/Image Rudu/09_Chi-Titt-Blog.jpg',
      linkPost: '#',
    }
  ]

-
  const dtPost =
  {
    author: 'Giangle',
    time: '30/06/2015',
    numberOfComment: '60',
    title: 'Rượu Vang Đỏ',
    text: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từhoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảmgiác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...',
    imageCard: '/assets/image/Image Rudu/wine.jpg',
  }

-
  const dtCommentsBlog =
  [
    {
      author: 'Giangle',
      time: 'Cách đây 4 giờ',
      text: 'Có lẽ bởi tính chất "ăn gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 dạng trang phục này được áp dụng nhiều nhất trong street style tuần qua ,chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém phần gợi cảm, kết hợp cùng đôi giày quai chữ T tôn dáng',
    },
    {
      author: 'Giangle',
      time: 'Cách đây 4 giờ',
      text: 'Có lẽ bởi tính chất "ăn gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 dạng trang phục này được áp dụng nhiều nhất trong street style tuần qua ,chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém phần gợi cảm, kết hợp cùng đôi giày quai chữ T tôn dáng',
    },
    {
      author: 'Giangle',
      time: 'Cách đây 4 giờ',
      text: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam et quibusdam, praesentium at officiis laborum nihil deserunt quisquam. Aperiam nam voluptate incidunt nobis exercitationem et voluptatum, provident amet iure repellendus.',
    }
  ]