-
  const productInCart = [
    {
      title: 'Rượu vang đỏ',
      price: '450.000',
      number: '3',
      imageUrl: '/assets/image/Product/1.jpg',
    },
    {
      title: 'Rượu vang xanh',
      price: '550.000',
      number: '2',
      imageUrl: '/assets/image/Product/5.jpg',
    },
    {
      title: 'Rượu Ngô',
      price: '350.000',
      number: '1',
      imageUrl: '/assets/image/Product/8.jpg',
    },
    {
      title: 'Rượu đà lạt',
      price: '250.000',
      number: '3',
      imageUrl: '/assets/image/Product/11.jpg',
    },
    {
      title: 'Rượu volka',
      price: '650.000',
      number: '1',
      imageUrl: '/assets/image/Product/12.jpg',
    },
    {
      title: 'Rượu trắng',
      price: '450.000',
      number: '3',
      imageUrl: '/assets/image/Product/7.jpg',
    }
  ]