//- Contact 
-
  const contact = {
    address: 'Tầng 4, Tòa nhà Hanoi Group  Số 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội',
    phone: ['(04) 6674 2332', '(04) 3786 8904', '(08) 6680 9686'],
    email: ['Support@bizweb.vn'],
  }

//- Footer Companies
-
  const companies = [
    {
      urlImage: 'assets/image/campanies/slide_03.png',
      altImage: 'Authentic logo'
    },
    {
      urlImage: 'assets/image/campanies/slide_05.png',
      altImage: 'Retrobrand logo'
    },
    {
      urlImage: 'assets/image/campanies/slide_07.png',
      altImage: 'Bearbrand logo'
    },
  ]
//- Footer Thon tin 
-
  const footerInfo = [
    {
      text: 'Về chúng tôi',
      urlLink: '#'
    },
    {
      text: 'Giao hàng',
      urlLink: '#'
    },
    {
      text: 'Cảm nghĩ',
      urlLink: '#'
    },
    {
      text: 'Lưu trữ',
      urlLink: '#'
    },
    {
      text: 'Chính sách riêng tư',
      urlLink: '#'
    },
  ]
//- Footer Mua hang 
-
  const footerService = [
    {
      text: 'Vận chuyển trả hàng',
      urlLink: '#'
    },
    {
      text: 'Mua hàng an toàn',
      urlLink: '#'
    },
    {
      text: 'Vận chuyển quốc tế',
      urlLink: '#'
    },
    {
      text: 'Liên kết',
      urlLink: '#'
    },
    {
      text: 'Dịch vụ giảm giá',
      urlLink: '#'
    }
  ]
//- Footer Social
-
  const socialArr = [
    {
      icon: 'fab fa-instagram',
      urlLink: '#'
    },
    {
      icon: 'fab fa-google-plus-g',
      urlLink: '#'
    },
    {
      icon: 'fab fa-linkedin-in',
      urlLink: '#'
    },
    {
      icon: 'fab fa-pinterest-p',
      urlLink: '#'
    },
    {
      icon: 'fas fa-globe',
      urlLink: '#'
    }
  ]

-
  const payment = [
    {
      urlImage: 'assets/image/pay/logo-mastercard-mobile.png',
      altImage: 'mastercard',
      urlLink: '#'
    },
    {
      urlImage: 'assets/image/pay/visa.png',
      altImage: 'Visa_Inc',
      urlLink: '#'
    },
    {
      urlImage: 'assets/image/pay/paypal-logo-duyalex.png',
      altImage: 'paypal',
      urlLink: '#'
    },
    {
      urlImage: 'assets/image/pay/maestro-logo.png',
      altImage: 'maestro',
      urlLink: '#'
    },
  ]