//- Image Quote Feedback Client 
- const dtQuoteImageUrl = 'assets/image/Image Rudu/trichdan.png'
//- Text Link Read More 
- const dtTextReadMore = 'Read More'
//- Image Slide Banner 
-
  const dtImageBannerList = [
    {
      urlImage: '/assets/image/slide/slide1_01.jpg',
      link: '#'
    },
    {
      urlImage: '/assets/image/slide/slide2_01.jpg',
      link: '#'
    },
    {
      urlImage: '/assets/image/slide/slide3_01.jpg',
      link: '#'
    },
  ]
//- Badge Product 
-
  const badge = {
      new: {
          url: "/assets/image/Image Rudu/badge-new.png",
          color: "#198754"
      },
      sale: {
          url: "/assets/image/Image Rudu/badge-sale.png",
          color: "#e6ae48"
      },
      hot: {
          url: "/assets/image/Image Rudu/badge-hot.png",
          color: "#dc3545"
      }
  }
//- Feedback Client 
-
  const dtFeedBack = [
    {
      author: 'Giang Lt',
      job: 'CEO',
      text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sunt laudantium odio? Maiores veritatis dolores aliquam sit, laudantium placeat ipsum officia distinctio in accusamus. Obcaecati voluptates unde harum et minima.',
      avatar: '/assets/image/Image Rudu/avatarClient.png',
      linkPost: '#',
    },
    {
      author: 'Giang Lt',
      job: 'CEO',
      text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sunt laudantium odio? Maiores veritatis dolores aliquam sit, laudantium placeat ipsum officia distinctio in accusamus. Obcaecati voluptates unde harum et minima.',
      avatar: '/assets/image/Image Rudu/timthumb (1).jpg',
      linkPost: '#',
    },
    {
      author: 'Giang Lt',
      job: 'CEO',
      text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sunt laudantium odio? Maiores veritatis dolores aliquam sit, laudantium placeat ipsum officia distinctio in accusamus. Obcaecati voluptates unde harum et minima.',
      avatar: '/assets/image/Image Rudu/09_Chi-Titt-Blog3.jpg',
      linkPost: '#',
    }
  ]

- const dtAccordionImageUrl = '/assets/image/Image Rudu/Depositphotos_3010981_original1.jpg'
//- Link Social 
- const dtUrlFacebook = 'https://www.facebook.com/UETConfessions'
- const dtUrlTwitter = 'https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw'
- const dtIdLinkedin = '72990365'
- const dtPinterestLink = 'https://www.pinterest.com/pinterest/'