-
  const headerNavArr = [
    {
      text: 'Tài khoản của tôi',
      link: '#',
      active: '',
    },
    {
      text: 'Trạng thái đơn hàng',
      link: '#',
      active: '',
    },
    {
      text: 'Danh sách ưa thích',
      link: '#',
      active: '',
    },
    {
      text: 'Giỏ hàng',
      link: '#',
      active: '',
    },
    {
      text: 'Đăng nhập',
      link: '#',
      active: 'signIn',
    },
    {
      text: 'Đăng ký',
      link: '#',
      active: '',
    },
  ]

-
  const headerNavProductList = [
    {
      text: 'Trang chủ',
      link: '#',
      active: 'home'
    },
    {
      text: 'Rượu vang đỏ',
      link: '#',
      active: ''
    },
    {
      text: 'Rượu trắng',
      link: '#',
      active: ''
    },
    {
      text: 'Champagne',
      link: '#',
      active: ''
    },
  ]

-
  const headerNavBlogList = [
    {
      text: 'Blog',
      link: '#',
      active: ''
    },
  ]

-
  const headerNavHelpList = [
    {
      text: 'Thông tin',
      link: '#',
      active: ''
    },
    {
      text: 'Liên hệ',
      link: '#',
      active: ''
    },
  ]
//- List Nav Item Header
-const dtMainListOrder = '3'
-const dtLogoImageUrl = 'assets/image/logo.png'
-const dtLogoUrl = '/'

-
  const dtNavigationHeader = [
    headerNavProductList,
    headerNavBlogList,
    headerNavArr,
    headerNavHelpList
  ]