-
  const dtNavbarArr = [
    {
      text: 'Trang chủ',
      link: '#',
      active: 'home'
    },
    {
      text: 'Rượu vang đỏ',
      link: '#',
      active: '',
      submenu: [
        [
          'Rượu ngoại', // Heading sub menu
          {
            text: 'Rượu Chivas',
            link: '#',
            active: ''
          },
          {
            text: 'Hàng độc - Rượu độc đáo',
            link: '#',
            active: ''
          },
          {
            text: 'Johnme Walker',
            link: '#',
            active: ''
          },
          {
            text: 'Rượu Whisky',
            link: '#',
            active: ''
          },
          {
            text: 'Rượu Remy Martin',
            link: '#',
            active: ''
          },
          {
            text: 'Rượu Glenmorangie',
            link: '#',
            active: ''
          },
          {
            text: 'Rượu Chivas',
            link: '#',
            active: ''
          },
        ],
        [
          'Rượu trắng', // Heading sub menu
          {
            text: 'Rượu Chivas',
            link: '#',
            active: ''
          },
          {
            text: 'Hàng độc - Rượu độc đáo',
            link: '#',
            active: ''
          },
          {
            text: 'Johnme Walker',
            link: '#',
            active: ''
          },
          {
            text: 'Rượu Whisky',
            link: '#',
            active: ''
          },
          {
            text: 'Rượu Remy Martin',
            link: '#',
            active: ''
          },
          {
            text: 'Rượu Glenmorangie',
            link: '#',
            active: ''
          },
          {
            text: 'Rượu Chivas',
            link: '#',
            active: ''
          },
        ],
        [
          'Rượu Đá Lạt', // Heading sub menu
          {
            text: 'Rượu Chivas',
            link: '#',
            active: ''
          },
          {
            text: 'Hàng độc - Rượu độc đáo',
            link: '#',
            active: ''
          },
          {
            text: 'Johnme Walker',
            link: '#',
            active: ''
          },
          {
            text: 'Rượu Whisky',
            link: '#',
            active: ''
          },
          {
            text: 'Rượu Remy Martin',
            link: '#',
            active: ''
          },
          {
            text: 'Rượu Glenmorangie',
            link: '#',
            active: ''
          },
          {
            text: 'Rượu Chivas',
            link: '#',
            active: ''
          },
        ]
      ],
      subMenuImage: 'assets/image/Image Rudu/Depositphotos_3010981_original1.jpg'
    },
    {
      text: 'Rượu trắng',
      link: '#',
      active: '',
      submenu: []
    },
    {
      text: 'Champagne',
      link: '#',
      active: '',
      submenu: []
    },
    {
      text: 'Blog',
      link: '#',
      active: '',
      submenu: []
    },
    {
      text: 'Thông tin',
      link: '#',
      active: '',
      submenu: []
    },
    {
      text: 'Liên hệ',
      link: '#',
      active: '',
      submenu: []
    },
  ]

-const dtLogoImageNavUrl = 'assets/image/logo.png'
-const dtLogoNavUrl = '/'