- const dtBannerImageUrl = '/assets/image/Image Rudu/slide-3.jpg'
-
  const dtProductCategory = [
    [
      {
        title: 'RƯỢU NGOẠI',
      },
      {
        text: 'Rượu Chivas',
        link: '#',
        numberOfProduct: '26',
        active: '',
        subItem: [],
      },
      {
        text: 'Hàng độc - Rượu độc đáo',
        link: '#',
        numberOfProduct: '36',
        active: '',
        subItem: [
          {
            text: 'Johnnie Walker',
            link: '#',
            numberOfProduct: '36',
            active: 'Johnnie Walker',
          },
        ],
      },
      {
        text: 'Rượu Whisky',
        link: '#',
        numberOfProduct: '24',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Remy Martin',
        link: '#',
        numberOfProduct: '16',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Glenmorangie',
        link: '#',
        numberOfProduct: '11',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Ballantine\'s',
        link: '#',
        numberOfProduct: '7',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Cognac',
        link: '#',
        numberOfProduct: '40',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Vodka',
        link: '#',
        numberOfProduct: '93',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Macallan',
        link: '#',
        numberOfProduct: '19',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Brandy',
        link: '#',
        numberOfProduct: '62',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Hennessy',
        link: '#',
        numberOfProduct: '20',
        active: '',
        subItem: [],
      },
      {
        text: 'RượuGin - Tequila - Liqueur - Rượu mùi',
        link: '#',
        numberOfProduct: '36',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Champagne',
        link: '#',
        numberOfProduct: '12',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Single malt Scotch whisky',
        link: '#',
        numberOfProduct: '47',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Spirits',
        link: '#',
        numberOfProduct: '4',
        active: '',
        subItem: [],
      },
    ],
    [
      {
        title: 'RƯỢU VANG',
      },
      {
        text: 'Rượu Vang Pháp',
        link: '#',
        numberOfProduct: '44',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Vang Úc',
        link: '#',
        numberOfProduct: '34',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Vang Mỹ',
        link: '#',
        numberOfProduct: '16',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Vang ChiLe',
        link: '#',
        numberOfProduct: '48',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Vang Philip',
        link: '#',
        numberOfProduct: '1',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Vang Nam Phi',
        link: '#',
        numberOfProduct: '20',
        active: '',
        subItem: [],
      },
      {
        text: 'Rượu Vang Ý',
        link: '#',
        numberOfProduct: '2',
        active: '',
        subItem: [],
      }
    ]
  ]

-
  const dtTagProduct = [
    {
      text: 'Đồng hồ',
      active: 'dongho',
      link: '#',
    },
    {
      text: 'Túi',
      active: '',
      link: '#',
    },
    {
      text: 'Phụ kiện',
      active: '',
      link: '#',
    },
    {
      text: 'Giày',
      active: '',
      link: '#',
    },
    {
      text: 'Saldan',
      active: '',
      link: '#',
    },
    {
      text: 'Áo sơ mi',
      active: '',
      link: '#',
    },
    {
      text: 'Nước hoa',
      active: '',
      link: '#',
    },
    {
      text: 'Trẻ em',
      active: '',
      link: '#',
    },
    {
      text: 'Thời trang nữ',
      active: '',
      link: '#',
    },
  ]

- const dtbannerAsideImageUrl = '/assets/image/Image Rudu/04_Srn-Phxm-_-Luvi.jpg'

-
  const dtProductListConvert =
  [
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
      badge: '',
      imageUrl: '/assets/image/Product/1.jpg'
    },
    {
      title: 'Rượu Volka', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
      badge: 'hot',
      imageUrl: '/assets/image/Product/2.jpg'
    },
    {
      title: 'Rượu Chiva', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
      badge: 'new',
      imageUrl: '/assets/image/Product/3.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
      badge: 'hot',
      imageUrl: '/assets/image/Product/4.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
      badge: 'sale',
      imageUrl: '/assets/image/Product/6.jpg'
    },
    {
      title: 'Rượu táo mèo', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
      badge: '',
      imageUrl: '/assets/image/Product/7.jpg'
    },
    {
      title: 'Rượu vang trắng', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
      badge: '',
      imageUrl: '/assets/image/Product/5.jpg'
    },
    {
      title: 'Rượu vang đỏ', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
      badge: '',
      imageUrl: '/assets/image/Product/9.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
      badge: '',
      imageUrl: '/assets/image/Product/10.jpg'
    },
    {
      title: 'Rượu trắng', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
      badge: 'hot',
      imageUrl: '/assets/image/Product/8.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
      badge: 'new',
      imageUrl: '/assets/image/Product/12.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
      badge: 'hot',
      imageUrl: '/assets/image/Product/8.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
      badge: '',
      imageUrl: '/assets/image/Product/14.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
      badge: 'new',
      imageUrl: '/assets/image/Product/13.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
      badge: '',
      imageUrl: '/assets/image/Product/5.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, totam illum necessitatibus itaque ea praesentium excepturi, accusamus exercitationem nobis doloremque nostrum cupiditate magnam numquam perferendis sequi dolorum ullam quisquam est!',
      badge: 'sale',
      imageUrl: '/assets/image/Product/11.jpg'
    },
  ]
