-
  const dtHomeProductIntro = {
    title: 'Rượu nho năm 1987',
    price: '330.000',
    desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
    imageUrl: '/assets/image/Product/14.jpg',
    linkProductUrl: '#',
    countDown: {
      day: '100',
      hour: '12',
      minute: '35',
      second: '0'
    }
  }

-
  const dtProductNew =
  [
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/1.jpg'
    },
    {
      title: 'Rượu Volka', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/2.jpg'
    },
    {
      title: 'Rượu Chiva', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'new', 
      imageUrl: '/assets/image/Product/3.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/4.jpg'
    },
    {
      title: 'Rượu vang trắng', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/5.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'sale', 
      imageUrl: '/assets/image/Product/6.jpg'
    },
    {
      title: 'Rượu táo mèo', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/7.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/8.jpg'
    },
    {
      title: 'Rượu vang đỏ', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/9.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/10.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'sale', 
      imageUrl: '/assets/image/Product/11.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'new', 
      imageUrl: '/assets/image/Product/12.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'new', 
      imageUrl: '/assets/image/Product/13.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/14.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/5.jpg'
    },
    {
      title: 'Rượu trắng', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/8.jpg'
    },
  ]

-
  const dtBackgroundImageHomeList = [
    '/assets/image/Image Rudu/47bb1d096966d29c98926a156318c767.jpg',
    '/assets/image/Image Rudu/Depositphotos_6971969_original-1240x698.jpg',
    '/assets/image/Image Rudu/Depositphotos_3010981_original1.jpg',
    '/assets/image/Image Rudu/slide-3.jpg',
    '/assets/image/Image Rudu/wine-63931_12802-1240x829.jpg',
    '/assets/image/Image Rudu/slide-1-2050x898.jpg',
    '/assets/image/Image Rudu/VINSUAL04.jpg',
    '/assets/image/Image Rudu/slide-2.jpg',
  ]

-
  const dtProductHot = 
  [
    {
      title: 'Rượu Volka', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/2.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/1.jpg'
    },
    {
      title: 'Rượu Chiva', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'new', 
      imageUrl: '/assets/image/Product/3.jpg'
    },
    {
      title: 'Rượu vang trắng', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/5.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/4.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'sale', 
      imageUrl: '/assets/image/Product/6.jpg'
    },
    {
      title: 'Rượu táo mèo', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/7.jpg'
    },
    {
      title: 'Rượu vang đỏ', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/9.jpg'
    },
    {
      title: 'Rượu trắng', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/8.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/10.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'new', 
      imageUrl: '/assets/image/Product/12.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/8.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'new', 
      imageUrl: '/assets/image/Product/13.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/14.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'sale', 
      imageUrl: '/assets/image/Product/11.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/5.jpg'
    },
  ]