-
  const dtHomeProductIntro = {
    title: 'Rượu nho năm 1987',
    price: '330.000',
    desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
    imageUrl: '/assets/image/Product/14.jpg',
    linkProductUrl: '#',
    countDown: {
      day: '100',
      hour: '12',
      minute: '35',
      second: '0'
    }
  }

-
  const dtProductNew =
  [
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/1.jpg'
    },
    {
      title: 'Rượu Volka', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/2.jpg'
    },
    {
      title: 'Rượu Chiva', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'new', 
      imageUrl: '/assets/image/Product/3.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/4.jpg'
    },
    {
      title: 'Rượu vang trắng', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/5.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'sale', 
      imageUrl: '/assets/image/Product/6.jpg'
    },
    {
      title: 'Rượu táo mèo', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/7.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/8.jpg'
    },
    {
      title: 'Rượu vang đỏ', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/9.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/10.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'sale', 
      imageUrl: '/assets/image/Product/11.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'new', 
      imageUrl: '/assets/image/Product/12.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'new', 
      imageUrl: '/assets/image/Product/13.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/14.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/5.jpg'
    },
    {
      title: 'Rượu trắng', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/8.jpg'
    },
  ]

-
  const dtBackgroundImageHomeList = [
    '/assets/image/Image Rudu/47bb1d096966d29c98926a156318c767.jpg',
    '/assets/image/Image Rudu/Depositphotos_6971969_original-1240x698.jpg',
    '/assets/image/Image Rudu/Depositphotos_3010981_original1.jpg',
    '/assets/image/Image Rudu/slide-3.jpg',
    '/assets/image/Image Rudu/wine-63931_12802-1240x829.jpg',
    '/assets/image/Image Rudu/slide-1-2050x898.jpg',
    '/assets/image/Image Rudu/VINSUAL04.jpg',
    '/assets/image/Image Rudu/slide-2.jpg',
  ]

-
  const dtProductHot = 
  [
    {
      title: 'Rượu Volka', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/2.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/1.jpg'
    },
    {
      title: 'Rượu Chiva', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'new', 
      imageUrl: '/assets/image/Product/3.jpg'
    },
    {
      title: 'Rượu vang trắng', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/5.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/4.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'sale', 
      imageUrl: '/assets/image/Product/6.jpg'
    },
    {
      title: 'Rượu táo mèo', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/7.jpg'
    },
    {
      title: 'Rượu vang đỏ', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/9.jpg'
    },
    {
      title: 'Rượu trắng', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/8.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/10.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'new', 
      imageUrl: '/assets/image/Product/12.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/8.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'new', 
      imageUrl: '/assets/image/Product/13.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/14.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'sale', 
      imageUrl: '/assets/image/Product/11.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/5.jpg'
    },
  ]

-
  const dtProductInterested = 
  [
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/1.jpg'
    },
    {
      title: 'Rượu Volka', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/2.jpg'
    },
    {
      title: 'Rượu Chiva', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'new', 
      imageUrl: '/assets/image/Product/3.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/4.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'sale', 
      imageUrl: '/assets/image/Product/6.jpg'
    },
    {
      title: 'Rượu táo mèo', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/7.jpg'
    },
    {
      title: 'Rượu vang trắng', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/5.jpg'
    },
    {
      title: 'Rượu vang đỏ', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/9.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/10.jpg'
    },
    {
      title: 'Rượu trắng', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/8.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'new', 
      imageUrl: '/assets/image/Product/12.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'hot', 
      imageUrl: '/assets/image/Product/8.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/14.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'new', 
      imageUrl: '/assets/image/Product/13.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: '', 
      imageUrl: '/assets/image/Product/5.jpg'
    },
    {
      title: 'Rượu vang đà lạt', 
      price: '370.000', 
      priceOrigin: '450.000', 
      badge: 'sale', 
      imageUrl: '/assets/image/Product/11.jpg'
    },
  ]

-
  const dtProduct = {
    id: '13414',
    title: 'Rượu nho năm 1987',
    price: '330.000',
    rating: [1, 1, 1, 0.5, 0],
    numberOfReview: '1',
    colors: ['#e6ae48', '#000', '#9c0001'],
    sizes: ['Loại to', 'Loại vừa', 'Loại nhỏ'],
    desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.',
    lovely: false,
    imgList: [
      {
        imageUrl: '/assets/image/Product/1.jpg',
        imageAlt: 'image product'
      },
      {
        imageUrl: '/assets/image/Product/2.jpg',
        imageAlt: 'image product'
      },
      {
        imageUrl: '/assets/image/Product/3.jpg',
        imageAlt: 'image product'
      },
      {
        imageUrl: '/assets/image/Product/4.jpg',
        imageAlt: 'image product'
      },
      {
        imageUrl: '/assets/image/Product/6.jpg',
        imageAlt: 'image product'
      },
      {
        imageUrl: '/assets/image/Product/7.jpg',
        imageAlt: 'image product'
      },
      {
        imageUrl: '/assets/image/Product/5.jpg',
        imageAlt: 'image product'
      },
      {
        imageUrl: '/assets/image/Product/9.jpg',
        imageAlt: 'image product'
      },
      {
        imageUrl: '/assets/image/Product/10.jpg',
        imageAlt: 'image product'
      },
      {
        imageUrl: '/assets/image/Product/8.jpg',
        imageAlt: 'image product'
      },
      {
        imageUrl: '/assets/image/Product/12.jpg',
        imageAlt: 'image product'
      },
      {
        imageUrl: '/assets/image/Product/8.jpg',
        imageAlt: 'image product'
      },
      {
        imageUrl: '/assets/image/Product/14.jpg',
        imageAlt: 'image product'
      },
      {
        imageUrl: '/assets/image/Product/13.jpg',
        imageAlt: 'image product'
      },
      {
        imageUrl: '/assets/image/Product/5.jpg',
        imageAlt: 'image product'
      },
      {
        imageUrl: '/assets/image/Product/11.jpg',
        imageAlt: 'image product'
      },
    ],
    productInfo: [
      {
        title: 'Đặc điểm nổi bật',
        desc: 'Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này.'
      },
      {
        title: 'Thông tin sản phẩm',
        desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem error, nesciunt soluta ab quidem itaque adipisci laboriosam eius ullam quos molestias, temporibus amet cumque quas eos consequuntur quisquam sit qui magni explicabo rem, accusamus eum a. Incidunt, illo non omnis doloribus exercitationem quisquam, vero ad expedita delectus animi, officiis perspiciatis!'
      },
      {
        title: 'Đánh giá',
        desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil porro, veniam laboriosam odit totam suscipit. Doloremque nesciunt repellat corrupti adipisci, iste cupiditate ratione repudiandae maxime et amet culpa veritatis. Voluptas.'
      }
    ]
  }
