@use 'variable';
@use './../abstract/mixin' as mixin;

@forward '../../node_modules/bootstrap/scss/bootstrap.scss' with (
  // PRIMARY COLOR AND SECONDARY COLOR
  $primary: variable.$primary,
  $secondary: variable.$secondary,

  // WHITE, GRAY AND BLACK COLOR 
  $white: variable.$white,
  $gray-100: variable.$gray-100,
  $gray-200: variable.$gray-200,
  $gray-300: variable.$gray-300,
  $gray-400: variable.$gray-400,
  $gray-500: variable.$gray-500,
  $gray-600: variable.$gray-600,
  $gray-700: variable.$gray-700,
  $gray-800: variable.$gray-800,
  $gray-900: variable.$gray-900,
  $black:    variable.$black,
  
  // COLOR 
  $blue: variable.$blue,
  $indigo: variable.$indigo,
  $purple: variable.$purple,
  $pink: variable.$pink,
  $red: variable.$red,
  $orange: variable.$orange,
  $yellow: variable.$yellow,
  $green: variable.$green,
  $teal: variable.$teal,
  $cyan: variable.$cyan,
  
  // LINK COLOR
  $link-color: variable.$link-color,
  $link-hover-color: variable.$link-hover-color,
  
  // COMPONENT COLOR
  $component-active-color: variable.$component-active-color,
  $component-active-bg: variable.$component-active-bg,

  // NAVBAR
  $navbar-padding-y: variable.$navbar-padding-y,
  // NAVBAR TOGGLER
  $navbar-toggler-focus-width: variable.$navbar-toggler-focus-width,
  // NAVBAR THEME COLOR 
  $navbar-dark-color: variable.$navbar-dark-color,
  $navbar-dark-hover-color: variable.$navbar-dark-hover-color,
  $navbar-dark-active-color: variable.$navbar-dark-active-color,
  $navbar-dark-disabled-color: variable.$navbar-dark-disabled-color,
  $navbar-dark-toggler-icon-bg: variable.$navbar-dark-toggler-icon-bg,
  $navbar-dark-toggler-border-color: variable.$navbar-dark-toggler-border-color,
  //Navbar theme dark
  $navbar-light-color: variable.$navbar-light-color,
  $navbar-light-hover-color: variable.$navbar-light-hover-color,
  $navbar-light-active-color: variable.$navbar-light-active-color,
  $navbar-light-disabled-color: variable.$navbar-light-disabled-color,
  $navbar-light-toggler-icon-bg: variable.$navbar-light-toggler-icon-bg,
  $navbar-light-toggler-border-color: variable.$navbar-light-toggler-border-color,
  //Navbar theme light
  $navbar-light-brand-color: variable.$navbar-light-brand-color,
  $navbar-light-brand-hover-color: variable.$navbar-light-brand-hover-color,
  $navbar-dark-brand-color: variable.$navbar-dark-brand-color,
  $navbar-dark-brand-hover-color: variable.$navbar-dark-brand-hover-color,

  //FORM CONTROL
  $input-focus-box-shadow: variable.$input-focus-box-shadow,
);

.btn-primary:hover{
  background-color: variable.$secondary;
  border-color: variable.$secondary;
}

.btn-primary:active, .btn-primary:focus { 
  background-color: variable.$secondary;
  border-color: variable.$secondary;
  box-shadow: mixin.box-shadow-lg(variable.$secondary);
}

.indicators-circle[data-bs-target]{
  display: inline-block;

  width: 0.75rem;
  height: 0.75rem;
  border: none;
  border-radius: 50%;

  background: #ddd;
}