@use 'variable' as *;
@use 'custom' as bootstrap;

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    color: $primary;
    background-color: white;
    font-family: $font-family-primary;
    font-size: 100%;
    font-weight: map-get($map: $font-weight, $key: regular);
    line-height: 1.5;
}

.bg-light-tr {
  background-color: #fff;
  opacity: 0.7;
}

.seperate {
  margin-right: 0.25em;
  margin-left: 0.25em;

  &::before{
    content: '-';
  }
  
  &--down-lg-none {
    @include bootstrap.media-breakpoint-down(lg) {
      display: none;
    }
  }
}

.border-gray--down-lg {
  border-bottom: 1px solid transparent !important;
  
  @include bootstrap.media-breakpoint-down(lg) {
    border-bottom: 1px solid $gray-300 !important;
  }
}

.bg-white-opacity {
  background-color: rgba($color: $white, $alpha: 0.7);
}

.text-heading {
  text-transform: uppercase;
  font-size: 1.3125rem;
}

.price {
  color: $secondary;

  font-family: $font-family-secondary;
  font-size: 2.125rem;

  @include bootstrap.media-breakpoint-down(md) {
    font-size: 1.875rem;
  }
}


.price--small {
  color: $secondary;

  font-family: $font-family-secondary;
  font-size: 1rem;

  @include bootstrap.media-breakpoint-down(md) {
    font-size: 0.9375rem;
  }
}

.link-image {
  position: relative;
  display: block;
  overflow: hidden;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    background-color: $gray-300;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    
    visibility: hidden;
    opacity: 0;
    transform: translate(50%, 50%);

    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  
  &::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    background: url('../assets/image/Image Rudu/hoverLinkImage.png') no-repeat center/ 15%;
    
    visibility: hidden;
    opacity: 0;
    transform: translate(50%, 50%);

    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  
  &:hover::before {
    visibility: visible;
    opacity: 0.4;
    transform: translate(0%, 0%);
  }

  &:hover::after {
    visibility: visible;
    opacity: 0.8;
    transform: translate(0%, 0%);
  }
}

.text-heading--left {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0;

  @include bootstrap.media-breakpoint-down(md) {
    font-size: 1.25rem;
  }
}

.rate {

  &__icon {
      color: $secondary;
  }
}

.tag {
  color: inherit;

  &__name {
      display: inline-block;
      text-decoration: none;
      border: 1px solid $gray-400;
      padding: 0.125em 0.25em;

      color: inherit;

      font-family: $font-family-fourth;
      font-size: 0.75rem;

      &.active {
          color: $white;
          background-color: $secondary;
      }
  }

  &__name + &__name {
      margin: 0.25em;
  }
}

// Media Breakpoint up LG
@include bootstrap.media-breakpoint-up(lg) {
  .py-lg-6rem {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

  .px-lg-6rem {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
  }

  .w-lg-auto {
    width: auto !important;
  }
}

// Media Breakpoint up MD
@include bootstrap.media-breakpoint-up(md) {
  .py-md-6rem {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

  .px-md-6rem {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
  }

  .w-md-auto {
    width: auto !important;
  }
}